*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: rgba(184, 191, 194, 0.599);
    min-height: 100vh;
    border: 10px solid rgba(29, 28, 27, 0.895);
}
.content{
    max-width: 900px;
    margin: 0 auto;
}
.top_section{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.top_section h1{
    font-size: 50px;
    font-weight: bold;
    color: rgb(21, 14, 14);
    text-transform: uppercase;

}
.top_section h4{
    font-size: 30px;
    text-align: end;
}
.image_container{
    border-radius: 50%;
    overflow: hidden;
}
.image_container,
img{
   width: 300px;
   height: 320px;

}
.about_section{
    margin-top: 50px;
    margin-bottom: 20px;
}
.about_section h2{
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 40px;
    text-align: center;
}
.about_section p{
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.2px;
    text-align: justify;
}
.about_section li{
    margin-bottom: 15px;
}
footer{
    margin: 50px 0;
}
footer p{
    text-align: end;
}